<div fxLayoutAlign="center center" fxLayout="column">

  <mat-form-field>
    <input matInput
           placeholder="City Search"
           aria-label="State"
           [matAutocomplete]="auto"
           [formControl]="searchCity"
           (keydown.enter)="onSelectedCity()">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
      <ng-container *ngIf="!isLoading">
        <mat-option *ngFor="let city of filteredData" [value]="city" (click)="onSelectedCity()">
          <span><b>{{city}}</b> </span>
        </mat-option>
      </ng-container>
    </mat-autocomplete>
  </mat-form-field>

  <br>

  <ng-container *ngIf="errorMsg; else elseTemplate">
    {{errorMsg}}
  </ng-container>
  <ng-template #elseTemplate>
    <h5>Selected Value: {{searchCity.value}}</h5>
  </ng-template>

</div>
