.example-card {
  max-width: 70%;
  width: 70%;
}

/*
.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
*/

#local-weather{
  text-align: center;
}

#favorite{
  text-align: right;
}
.mat-card-content h1{
  text-align: center;
}

mat-icon{
  color: red;
}
