<mat-nav-list   (click)="onClose()">
  <mat-list-item>
    <a matLine routerLink="">Weather</a>
    <button mat-icon-button >
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item>
    <a matLine routerLink="favorites">Favorites</a>
    <button mat-icon-button >
      <mat-icon>info</mat-icon>
    </button>
  </mat-list-item>
  <mat-divider></mat-divider>
<!--
  <a mat-list-item routerLink="/event/allprogresslist" routerLinkActive="active">
    <mat-icon>home</mat-icon>
    <span class="nav-caption">Events</span>
  </a>
  <a mat-list-item routerLink="/notification" routerLinkActive="active">
    <mat-icon>notifications</mat-icon>

  </a>
  &lt;!&ndash;<a mat-list-item routerLink="/" routerLinkActive="active">&ndash;&gt;
  &lt;!&ndash;<mat-icon>event</mat-icon>&ndash;&gt;
  &lt;!&ndash;<span class="nav-caption">Calendar</span>&ndash;&gt;
  &lt;!&ndash;</a>&ndash;&gt;
  <a mat-list-item routerLink="/participation" routerLinkActive="active">
    <mat-icon>start</mat-icon>
    <span class="nav-caption">Participation</span>
  </a>

-->

</mat-nav-list>
