<mat-toolbar color="primary" fxLayoutWrap>
  <mat-toolbar-row fxLayoutAlign="space-between center">
    <div fxLayout="row" fxLayoutAlign="center center">
      <div fxHide.gt-sm="">
        <button mat-icon-button (click)="onToggleSidenav()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <div class="logo-image">
        <a routerLink="/">
          <img src="../../../assets/img/1280px-Test-Logo.svg.png" alt="">
        </a>
      </div>
      <span>Custom Toolbar</span>
    </div>
    <div fxHide.lt-md="">
      <button mat-raised-button color="primary" routerLink="">Weather</button>
      <button mat-raised-button color="primary" routerLink="favorites">Favorites</button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
